@charset "utf-8";

:root {
	--primary: #401257;
	--ligher: #7932BF;
	--lilac: #5A3882;
	--lighter-lilac: #785E9B;
	--highlight-lilac: #A898C1;
	--secondary: #49498b;
	--accent: #0c0f61;
	--dark: #180621;
	--darker: #24083d;
	--light: #ffffff;
	--gray: #6b7280;
	--success: #00ff88;
	--green: #234d03;
	--darker_green: #173702;
	--lighter_green: #4AA206;
	--maroon: #6A1C33;
	--yellow: #FFD700;
	--teal: #066357
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-top: 90px;
	background-color: #401257;
	color: var(--light);
	overflow-x: hidden;
	line-height: 1.6;
	margin: 0px;
	padding: 0px;
	font-size: clamp(16px, 1rem + 0.5vw, 18px);
  	letter-spacing: 0.03em;
	overflow-wrap: break-word;
	object-fit: cover;
}

@keyframes pulse {

	0%,
	100% {
		opacity: 0.3;
		transform: scale(1);
	}

	50% {
		opacity: 1;
		transform: scale(1.2);
	}
}

@keyframes flow {
	0% {
		opacity: 0;
		transform: scaleX(0);
	}

	50% {
		opacity: 1;
		transform: scaleX(1);
	}

	100% {
		opacity: 0;
		transform: scaleX(0);
	}
}
a{
	text-decoration: none;
}

iframe{
	width: calc(250px + 5vw);
	height: fit-content;
	aspect-ratio: 16 / 9;
	border-radius: 8px;
}

p, label{
	font-size: clamp(18px, (1em + 1.5vmin), 40px);
	line-height: 1.6;
}


img{
	height: fit-content;
}

.page_title {
	color: #ffffff;
	background-color: var(--darker);
	margin-top: calc(27vmin - 2vw);
	width: 100%;
	padding-top: 4vmin;
	padding-bottom: 4vmin;
	text-align: center;
	letter-spacing: 0.25rem;
	font-size: calc(1em + 2vmin);
	border-bottom: black 6px solid;

}
.subsection_title{
	color: #ffffff;
	outline: 5px solid rgba(0, 0, 0, 0.30);
	margin: 6% auto 2%;
	padding: 2vw 5vw;
	width: 50vw;
	text-align: center;
	letter-spacing: 0.25rem;
	font-size: clamp(20px, (1.5em + 2vmin), 40px);
	border-radius: 12px;
	backdrop-filter: contrast(115%);
}

.smaller_subsection_title{
	color: #ffffff;
	padding-left: 2%;
	letter-spacing: 0.25rem;
	font-size: clamp(16px, (1.3em + 2vmin), 30px);
                
}

.page_description{
	margin-top: 2%;
	margin: 2vw;
	padding: 2%;
	text-align: center;
	font-size: clamp(16px, 1.2rem + 0.5vw, 24px);
	background-color: rgba(90, 56, 130, .80);
	border-radius: 12px;
	line-height: 2;
	outline: var(--yellow) 2px dotted;
}
/* Header */
header {
	position: fixed;
	top: 0;
	width: 100%;
	background: #401257;
	backdrop-filter: blur(20px);
	z-index: 1000;
	transition: all 0.3s ease;
	border-bottom: 1px solid rgba(186, 12, 12, 0);
}
.brienna_title{
	color: #ffffff;
	text-decoration: none;
}
nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem ;
	max-width: 20000px;
	margin: 0 auto;

}

.nav-links {
	display: flex;
	list-style: none;
	gap: 0.5rem;
}

.nav-links a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	transition: all 0.3s ease;
	position: relative;
	padding: 0.6rem 1.2rem;
	border-radius: 25px;
	font-weight: 500;
	font-size: 0.95rem;
	text-align: center;
}

.nav-links a:hover {
	color: var(--light);
	background: rgba(255, 255, 255, 0.199);
}

.btn {
	padding: 1rem 2rem;
	border: none;
	border-radius: 50px;
	font-size: 2rem;
	cursor: pointer;
	transition: all 0.3s ease;
	text-decoration: none;
	color: white;
	display: inline-block;
	
}

.btn-primary {
	text-decoration: none;
	padding: 1rem 2rem;
	border: none;
	border-radius: 50px;
	font-size: 2rem;
	cursor: pointer;
	transition: all 0.3s ease;
	color: white;
	display: inline-block;
	background: linear-gradient(45deg, var(--primary), var(--accent));
}

.btn-primary:hover {
	transform: translateY(-2px);
	box-shadow: 0 10px 30px rgba(0, 255, 255, 0.3);
}

.go-to-resume{
	all: unset;
	cursor: pointer;
	display: flex;
	border-radius: 6px;
	padding: 3%;
	text-align: center;
	justify-self: center;
	padding: 2%;
	margin-top: 2%;
	outline: solid var(--lilac) 3px;
	transition: transform 0.1s ease;
}

.go-to-resume:active{
	transform: scale(0.98);
}

/*home page headshot and resume*/
.home_pic_and_res{
	display: flex;
	flex-wrap: wrap;
}

.home_imgs{
	margin-top: 0.5vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.home_pic_and_res a{
	display: grid;
	justify-content: center;
	width:45%; 
	margin-left: 2%;
	margin-right: 2%;
}
.home_img{
	border-radius: 6px;
	width:45%;
	margin: 2%;
	outline: solid 5px var(--darker);
}

/* about me */
.about_me{
	display: flex;
	justify-content: space-between;
}

.about_me p{
	background-color: rgba(90, 56, 130, .80);
	border-radius: 12px;
	line-height: 2;
	outline: var(--yellow) 5px dotted;
	padding: 5vmin;
}

.about_me_item{
	margin: 2%;
	align-self: center;
	width: 46vw;
	height: fit-content;
}
.about_me img{
	border-radius: 6px;
	outline: 5px solid var(--darker);
}

/* icon bar */

.icon-bar{
	overflow: hidden;
	width: 70vw;
	margin: 0 auto;
	justify-content: space-around;
	display: flex;
	padding: 2%;
	margin-top: 3vmax;
	border-radius: 12px;
	background-color: var(--lilac);
	outline: 2px dotted var(--yellow);
}

.icon-bar a{
	color: white;
	text-decoration: none;
	font-size: clamp(30px, (1em + 2vw), 50px);
	cursor: pointer;
}

/* what I've done recently */
.done_recently{
	display: flex;
	align-items: center;
}
.done_recently_item{
	width: 50%;
	margin: 2%;
}

.done_recently ul{
	background-color: rgba(90, 56, 130, .80);
	border-radius: 12px;
	line-height: 2;
	outline: var(--yellow) 5px dotted;
	padding: 8vmin 0;
	list-style-position: inside;
}

.done_recently li{
	padding: 0 3vmin;
}

.done_recently img{
	border-radius: 6px;
	outline: 5px solid var(--darker);
	max-height: 550px;
}
/* on the stage page */
.stage_header{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stage_header img{
	width: 70vw;
	height: fit-content;
	margin: 2vw;
	border-radius: 12px;
	outline: 5px solid var(--darker);
}
.on_the_stage_posts{
	display: flex;
	flex-direction: column;
}
.entire_stage_post{
	display: flex;
	flex-direction: column;
	max-height: none;
	width: 100%;
}
.stage_post{
	display: flex;
	margin-top: 2%;
	margin-bottom: 2%;
	transition: backdrop-filter 0.2s ease;
}

.stage_text{
	width: 45%;
	display: flex;
	flex-direction: column;
	align-self: center;
	text-align: center;
	padding-left: 3%;
	padding-right: 3%;
	font-size: clamp(16px, (1em + 0.5vmin), 30px);

}

.stage_text button{
	all: unset;
	align-self: self-end;
	cursor: pointer;
	border-radius: 6px;
	padding: 3%;
	outline: 3px solid var(--lilac);
	transform: scale(0.75);
	font-size: clamp(16px, (1em + 0.5vmin), 30px);
	transition: transform 0.1s ease;
}

.stage_text button:active{
	transform: scale(.73);
}


.stage_post:hover{
	backdrop-filter: brightness(125%);
}


.stage_post img{
	width: 45%;
	align-self: center;
	border-radius: 6px;
	outline: rgba(0, 0, 0, 0.40) solid 7px;
}

.hidden{
	flex-direction: column;
	justify-items: center;
	display: none;
}

.hidden-text{
	width: 70%;
	justify-content: center;
	align-self: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	justify-items: center;
	padding-left: 3%;
	padding-right: 3%;
	margin: 2%;
	font-size: clamp(16px, (1em + 0.5vmin), 30px);
	line-height: 2.5rem;
	

}

.hidden-imgs{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2%;
	margin-bottom: 3%;

}
.hidden-img{
	width: 40%;
	align-self: center;
	margin: 2%;
	outline: rgba(0, 0, 0, 0.40) solid 7px;
	border-radius: 6px;
}

.hidden button{
	all: unset;
	align-self: center;
	cursor: pointer;
	border-radius: 6px;
	padding: 3%;
	transform: scale(0.75);
	outline: 3px solid var(--lilac);
	font-size: clamp(16px, (1em + 0.5vmin), 30px);
	transition: transform 0.1s ease;
}

.hidden button:active{
	transform: scale(0.73);
}
/*media page*/
.video_blocks {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	justify-content: center;
	padding-bottom: 2rem;
	margin: 1rem;
}


.video_block {
	margin-top: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
	justify-self: center;
	border-radius: 8px;
	outline: black 3px solid;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	background-color: black;
}

.video_block p{
	text-align: center;
	justify-self: center;
	padding: 0.25rem;
	width: 100%;
	font-size: clamp(16px, (1em + 0.5vmin), 20px);
	text-align: center;
	align-self: center;
}


/*contact me*/


#contact{
	overflow: hidden;
	width: 70vw;
	margin: 0 auto;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	padding: 2%;
	margin-top: 3vmax;
	border-radius: 12px;
	background-color: var(--lilac);
}

#contact a{
	color: white;
	text-decoration: none;
	font-size: clamp(30px, (1em + 2vw), 50px);
	cursor: pointer;
}

#contact div{
	align-items: center;
	display: inline-flex;
	justify-content: center;
	flex-direction: row;
	margin: 1rem 0;
	flex-wrap: wrap;
}

#contact p{
	margin: 0 2vmin;
	text-align: center;
}


form{
	overflow: hidden;
	width: 70vw;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 2%;
	margin-top: 3vmax;
	align-items: flex-start;
	border-radius: 12px;
	background-color: var(--lilac);
}

input[type="text"], input[type="email"], textarea{
	width: 100%;
	box-sizing: border-box;
	font-family: inherit;
	font-size: clamp(18px, (1em + 1.5vmin), 40px);
	border-radius: 6px;
	background: var(--lighter-lilac);
	border: 1px solid transparent;
	outline: none;
	padding: 0.75rem 1rem;

}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
	background: var(--highlight-lilac);
}

input[type="submit"]{
	margin: 3rem 0 0;
	width: 100%;
	font-family: inherit;         
  	font-size: clamp(18px, (1em + 1.5vmin), 40px);
	border-radius: 6px;
	border: 1px solid transparent;
	outline: none;
	background: var(--lighter-lilac);
	color: var(--light);
	cursor: pointer;
	transition: background 0.15s ease-in-out, transform 0.1s ease;
}

input[type="submit"]:hover{
	background: var(--highlight-lilac);
}

input[type="submit"]:active{
	background: var(--highlight-lilac);
	transform: scale(0.98);
}

form #form-names{
	display: flex;
	flex-direction: row;
	gap: clamp(30px, calc(4em + 0.5vw), 10000px);
	
}

form div{
	display: flex;
	width: 70%;
	flex-direction: column; 
	align-items: flex-start; 
	gap: 0.5rem;
}



/*small screen adjustments*/
@media screen and (max-width: 650px){
	.nav-links{
		flex-direction: column;
	}
	.page_title{
		margin-top: 65%;
	}

	.about_me{
		flex-direction: column;
	}
	
}